<div class='container'>
  <h1>Hack Your Temperature</h1>
  <form action="/weather" method='post'>
    <input type='text' name="cityName" placeholder="Enter a city">
    <button type="submit" class='btn'>Submit</button>
  </form>
  <p class='para'>{{ weatherText }}</p>
</div>